/.idea/libraries
/.idea/*.xml
/.target
*.iml
*.class
src/main/resources/twitter-credentials.json
src/main/resources/twitter-credentials2.json
src/main/java/com/socialmediaraiser/okhttpCache/
src/main/java/com/github/redouane59/okhttpCache/
src/main/java/com/socialmediaraiser/okhttpCache/*
src/main/java/com/github/redouane59/okhttpCache/*
target/
*/target/**
*/target/*
/out
/okhttpCache
/okhttpCache/*
*.asc
bundle.jar
*twitter-credentials.json
