/.idea
/.target
*.iml
*.class
src/main/resources/twitter-credentials.json
src/main/resources/RedouaneBali.yaml
src/main/resources/RedTheOne.yaml
src/main/java/com/socialmediaraiser/okhttpCache/
src/main/java/com/socialmediaraiser/okhttpCache/*
target/
*/target/**
*/target/*
/out
/okhttpCache
/okhttpCache/*